<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.fooddelivery.repository.mybatis.dao.MenuDao">

    <resultMap id="MenuResultMap"
               type="com.solvd.fooddelivery.entity.foodspot.Menu"
               autoMapping="false">
        <id property="id" column="menu_id"/>
        <result property="name" column="menu_name"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menus (name)
        VALUES (#{name})
    </insert>

    <select id="findById" resultMap="MenuResultMap">
        SELECT
        id AS menu_id,
        name AS menu_name
        FROM menus
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="MenuResultMap">
        SELECT
        id AS menu_id,
        name AS menu_name
        FROM menus
    </select>

    <update id="update">
        UPDATE menus
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM menus WHERE id = #{id}
    </delete>

</mapper>
